.grid-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.card {
    display: grid;
    width: auto;
    margin: 0.5rem;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
    font-family: roboto;
    text-align: center;
    background:linear-gradient(to bottom , rgba(227,92,10,70%), rgba(252, 250, 250, 0.5));
}

.card-image {
    grid-area: image;
}
.card-text {
    grid-area: text;
}

.card-image {
    grid-area: image;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.card-image>img{
    object-fit: cover;
}

.card-text {
    grid-area: text;
    margin: 10px;
}
.card-text .date {
    font-size:13px;
    color: rgb(255, 7, 110);
}
.card-text>p {
color: grey;
font-size:15px;
font-weight: 300;
}
.card-text>h2 {
margin:5px;
font-size:15px;
}

.star{
    margin: 0.1rem;
}


/*Product*/

.seeMoreButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0.5rem;
}

.seeMoreButton span{
    color: #F99355;
}
.seeMoreButton span:hover{
    cursor: pointer;
}

.cardProduct {
    display: grid;
    width: auto;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
    font-family: roboto;
    background:linear-gradient(to bottom , rgba(227,92,10,70%), rgba(252, 250, 250, 0.5));
}

.card-textProduct {
    grid-area: text;
    margin: 0px 5px;
}
.card-textProduct .date {
    font-size:13px;
    color: rgb(255, 7, 110);
    margin: 0.5rem;
}
.descripcion {
    color: grey;
    font-size:15px;
    font-weight: 300;
    margin: 0.5rem;
    text-align: justify;
}
.card-textProduct>h2 {
    font-size:20px;
    margin: 0.5rem;
}

.starProduct{
    margin: 0.5rem;
    text-align: left;
}

.nose{
    display: flex;
    justify-content: space-between;
}