.windowView{
    background-color: rgba(212, 208, 208, 80%);
    padding: 1rem;
    width: 70%;
    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;
    margin: 0% 15%;
    flex-direction: column;
    border-radius: 30px;
    object-fit: cover;
}

.windowView>img{
    margin: 1% 15%;
    object-fit: cover;
}

.boton{
    padding: 1rem 0rem;
}