body {
    background-color: fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    margin: 0rem;
    padding: 0rem;
}

li {
    display: inline-block;
    margin: 0rem 4rem;
}

header{
    background-color: #25CED1;
    padding: 1rem;
}

nav{
    margin: 0rem 1rem;
    padding: 0rem 1rem;
}

a {
    color: white;   
}

input {
    border-radius: 1rem;
    border-color: white;
}


